.pcItem {
  width: 150px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;

  @media (max-width: 500px) {
    width: 120px;
    height: 90px;
  }
    p {
    font-size: 36px;
    font-weight: 800;
    margin: 0;

      @media (max-width: 500px) {
        font-size: 28px;
        font-weight: 700;
      }
  }

  .timeLeft {
    margin: 0;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 500px) {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
