
.confortPlusMain{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;

  .comfortPlus_inner{
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: flex-end;
    padding: 20px;

  }

  .stenka_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .seredinaComfortPlus{
    display: flex;
    flex-direction: row;
    gap: 10px;

    height: 100%;
    align-self: flex-start;

    div{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .stenka_right{
    display: flex;
    flex-direction: column;
    gap: 30px;

    div{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.titleComfortPlus{
  display: flex;
  align-self: center;
  border: 5px solid #444444;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 400px;

  h3 {
    padding: 5px 20px;
    font-size: 36px;
    font-weight: 700;
    color: #4d56c5
  }
}