
.titleComfort{
  display: flex;
  align-self: center;
  border: 5px solid #444444;
  border-radius: 10px;
  margin-bottom: 30ox;

  align-items: center;
  justify-content: center;
  height: 80px;
  width: 350px;

  h3 {
    padding: 5px 20px;
    font-size: 36px;
    font-weight: 700;
    color: #4d56c5
  }

}

.standartComfort{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 700px;

  @media (max-width: 500px) {
    gap: 40px;
    align-items: center;
  }
  }

.standartComfort_inner{
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: flex-end;
}

.standartComfortRow{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;


  .row_inner {
    display: flex;
    flex-direction: row;
    gap: 10px;

    div{
      display: flex;
      flex-direction: column;
      gap: 5px
    }
  }
}

.secondLine {
  display: flex;          // flex-контейнер
  flex-direction: column;    // колонки будут рядом
  gap: 20px;              // расстояние между колонками
}

.secondLine_inner, .vnuntr {
  display: flex;
  flex-direction: column; // содержимое каждой колонки вертикально
  gap: 5px;
}

.otdelno{
  display: flex;
  align-self: center;
}