.mainContainer {
    width: 99vw;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;

    position: relative;

    .row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: flex-end;
    }
}

.standartComfortSection {
}

.vipSection {
}

.comfortSection {
}

.comfortPlusSection {
    position: absolute;
    top: 30px;
    right: 30px;
}

.premiumSection {
    position: absolute;
    bottom: 110px;
    right: 1100px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .reception {
      border: 5px solid #444444;
      margin-top: 40px;
      border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;

        h3 {
            border: 2px solid #444444;
          border-radius: 10px;
            padding: 20px;
            font-size: 36px;
            font-weight: 700;
            color: #4d56c5;
        }
    }
}

.tarifsSection {
    position: absolute;
    top: 0px;
    right: 1100px;

 //   background-color: rgba(230, 230, 4, 0.67);
  background-color: #ccc;
    padding: 20px;
    border-radius: 30px;

  border: 3px solid #000;
}
