.vipMain{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  padding-right: 50px;
}

.titleVip{
  display: flex;
  align-self: center;
  border: 5px solid #444444;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 200px;

  h3 {
    padding: 5px 20px;
    font-size: 36px;
    font-weight: 700;
    color: #4d56c5
  }
}

.vipMain_inner{
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-end;
}

.computerRad{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seredina{
  display: flex;
  flex-direction: row;
  gap: 10px
}

.toTop{
  display: flex;
  align-self: flex-start;
}